header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(65, 65, 65); 
    border: solid 2px rgb(68, 3, 3);
};

#head-logo{
    border: 2px solid rgb(226, 192, 192);
    background-color: blueviolet;
};

#head-icons{
    border: 2px solid rgb(226, 192, 192);
    background-color: blueviolet;
};

